/* Mulish Font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", sans-serif;
}

body {
    max-width: 1440px;
    margin: 20px auto;
}

/* Shared style */
.primary-btn {
    background-color: #FF5400;
    padding: 10px 15px;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 5px;
    width: 140px;
}

.title {
    font-size: 2.5em;
    font-weight: 800;
    color: #131318;
}

/* banner styles */
.banner {
    position: relative;
    justify-content: center;
    text-align: center;
    border-radius: 16px;
}

.banner-content {
    position: absolute;
    top: 25%;
    color: #fff;
}

.banner-title {
    font-size: 4em;
    font-weight: 800;
}


.banner-description {
    margin: 0 200px;

}

.input-field {
    margin: 0 400px;
    border-radius: 8px;
    padding: 5px;
    color: rgba(19, 19, 24, 0.50);
    background: rgba(255, 255, 255, 0.3);
}

#where-go {
    background-color: #ffffff;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: 140px;
}

#when {
    background-color: #ffffff;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: 140px;
}

#price {
    background-color: #ffffff;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: 140px;
}

/* main section styles */
.popular-tours {
    display: flex;
    margin: 135px;

}

.about-popular-tours {
    padding: 0 40px;
    font-weight: 400;
    color: #131313;
}

.destinations-content {
    text-align: center;
    margin: 0 400px;
}

.location-imges {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

.title-1 {
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.card-titel {
    color: #131318;
    font-size: 1.5em;
    font-weight: 800;
}

.card {
    width: 580px;
    height: 280px;
    margin: 10px;
    padding: 20px;
    border: 2px solid rgba(251, 181, 99, 0.20);
    border-radius: 16px;
}

.card-1 {
    background: rgba(251, 181, 99, 0.05);
}

.card-2 {
    background: rgba(41, 206, 246, 0.05);
}

.card-3 {
    background: rgba(233, 68, 68, 0.05);
}

.card img {
    width: 50px;
    height: 50px;
}

.newsletter-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.newsletter-content {
    width: 420px;
    height: 300px;
    border-radius: 16px;
    border: 2px solid #FF5400;
    margin-right: 25px;
    padding: 60px 40px;
}

.hr1 {
    width: 400px;
    background: rgba(19, 19, 24, 0.10);
}

.input {
    width: 420px;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    background: rgba(19, 19, 24, 0.05);

}

.primary-btn2 {
    width: 440px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
}

.email {
    margin: 15px 0;
}

.discount-tag {
    width: 230px;
    height: 100px;
    background: #FF5400;
    position: relative;
    bottom: 180px;
    left: 430px;
    rotate: -30deg;
    text-align: center;
    border-radius: 16px;
    padding-top: 15px;
}

.travel-com {
    margin-top: 10px;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 400;
}

.saveup {
    margin-top: 0;
    margin-bottom: 0;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 800;

}

/* footer styles */

.name-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Dark-01, #131318);
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: o;
    gap: 10px;
}

.footer-description {
    text-align: center;
    color: #5A5A5D;
    text-align: center;
    font-weight: 400;
    line-height: 26px;
    font-size: 1rem;
    margin: 0 200px;
}

.travel {
    color: #FF5400;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hr2 {
    background: rgba(19, 19, 24, 0.10);
}

.copy-right {
    text-align: center;
}

@media screen and (max-width: 576px) {
    body {
        margin: 20px;
    }

    .banner-content {
        top: 1%;
        color: #fff;
    }

    .banner-title {
        font-size: 2em;
        font-weight: 700;
    }

    .banner-description {
        margin: 0 10px;
    }

    .input-field {
        margin: 20px;
    }

    .banner-img img {
        height: 600px;
        width: 100%;
    }

    #where-go,
    #when,
    #price,
    .primary-btn {
        width: 85%;
        padding: 15px;
    }

    .popular-tours {
        flex-direction: column;
        margin: 5px;
    }

    .popular-tours-btn {
        width: 50%;
    }

    .tours-img img {
        margin-top: 15px;
        width: 100%;
    }

    .destinations-content {
        margin: 5px;
    }

    .location-imges img {
        flex-direction: column;
        width: 100%;
        height: 180px;
    }

    .newsletter-container {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .newsletter-content {
        width: 100%;
        margin-right: 20px;
        padding: 60px 0;
    }

    .discount img {
        width: 100%;
        height: 600px;
        margin-top: 20px;
    }

    .discount-tag {
        left: 250px;
    }

}